# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-added-large-files
    - id: check-json
      types: [file]  # override `types: [json]`
      files: \.(json|ipynb)$
    - id: check-yaml
    - id: check-toml
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.7.0
    hooks:
    - id: pyproject-fmt
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
    - id: validate-pyproject
  - repo: https://github.com/psf/black
    rev: "25.9.0"
    hooks:
    - id: black
  - repo: https://github.com/asottile/reorder-python-imports
    rev: "v3.16.0"
    hooks:
    - id: reorder-python-imports
  - repo: https://github.com/pycqa/flake8
    rev: "7.3.0"
    hooks:
    - id: flake8
      language_version: python3
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.0
    hooks:
    - id: sphinx-lint
      types: [rst]
